/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS

---------------------------
Website Fonts:font-family: 'Quicksand', sans-serif;
Website Colours: 759ac9List colour hex codes here for reference
----------------------------
*/


/* ---- CSS RESET --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%; /* This ensures an image never breaks it's container
  */
}


[class*=grid-][class*=-equalHeight]>[class*=col] {
  display:block;
  /* This overrides a quirk with gridlex where contents inside of equal height containers become columns themselves */
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }
.short        { min-height: 30vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.mob-show { display: none;}

.full-width { /* for image grids */
  width:100%
}


/* ----- UNIVERSAL STYLES --------------------------- */

/* Typography */
body {
  font-family: 'Pontano Sans', sans-serif;
  color: rgb(60,60,65);
  letter-spacing: 1px;
}

h1 {font-family: 'Dancing Script', cursive;
letter-spacing: 2px;}

}
 h2, h3, h4, h5, h6 {
  margin-bottom: 1.1rem;
  letter-spacing: 3px;
  font-family: 'Pontano Sans', sans-serif;
}
p {
  margin-bottom: 1rem;
  font-family: 'Pontano Sans', sans-serif;
}


h1 { font-size: 3.0rem; line-height: 1.2; letter-spacing: 3px;}
h2 { font-size: 2.4rem; line-height: 1.25; margin-bottom:1.1rem; }
h3 { font-size: 2.0rem; line-height: 1.3; }
h4 { font-size: 1.8rem; line-height: 1.35; }
h5 { font-size: 1.7rem; line-height: 1.5; }
h6 { font-size: 1.5rem; line-height: 1.5; }
p  { font-size: 1.1rem; line-height: 1.5;}
blockquote  { font-size: 1.1rem; line-height: 1.5;}
li  { font-size: 1.1rem; }


/* Padding & Margin */

header { padding: 2vh 5%;
background-color: rgba(240,229,217,0.3);}

footer { padding: 2vh 5%;
background-color: #afacaa;}

section         { padding: 2vh 5%; }

blockquote {
  border-left: 2px solid rgb(245,245,245);
  margin-left: 3%;
  padding-left: 3%;
  font-weight: 600;
  color: rgb(90,90,95);
  font-style: italic;
}
.col,
[class*=col-]   { padding: 2%; }


/* Other universal styles */

.featured{
  color: white;
}
.fa.featured {
  color: #F0E5D9;
  background: none;
}
.about{
  width: 30vw;
  height: 60vh;
}
.copyright {
  color: rgba(240,229,217,0.3);
 font-family: 'Raleway', sans-serif;
 text-align: center;
 font-size: 1.0rem;
 padding-top: 2vh;
}

.copyright a {
  text-decoration: none;
  color: rgba(240,229,217,0.3);
}
.copyright a:hover {
  text-decoration: none;
  color: rgba(240,229,217,0.3);
}
hr {
  border: none;
  border-top: 3px dotted #F0E5D9;
  margin: 3vh 0;
}
.previous, .next {
    padding: 0 1.5em;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/* ----- HEADER & FOOTER --------------------------- */
nav a {
    text-decoration: none;
    padding: 1em;
    color: inherit;
    letter-spacing: 2px;
    text-transform: uppercase;
}
nav a:hover {
  color:
#e7cebc;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.logo {
  max-height: 5.5rem;
  max-width: 20rem;
  align-items: center;
}
footer nav a {
  padding: 0.2em;

}

footer nav .fa,
.social-share nav .fa {
  padding: 0 1em 0 0;
  font-size: 2.0rem;
}


p a {
  text-decoration: none;
  color: black;
}

p a:hover {
  color: #e7cebc;
  text-decoration: none;
}
.space {
  padding-top: 2vh;
}
.fa {
  font-size: 1.5rem;
}

.pure-drawer { /* pop-out hamburger menu */
  padding: 5em 3%;
}

.mob-nav a {
  display: block;
  padding: 0.5em;
}

/*HOMEPAGE*/
.backgroundimg{
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/redox-02.png");
  background-size: auto;
}


/* GALLERY STYLES*/
img {
  width: auto;
  height: auto;
}

/* ----- MODULAR ELEMENTS --------------------------- */
.banner {
  background-color: black; /* featured-color */
  background-size: cover;
  background-position: center;
  min-height:80vh;
}

.gallery {
  background-color: grey;
  background-image: url('/images/gallery.png');
  background-size: cover;
  background-position: center;
  min-height: 35vh;
  min-width: 25vw;
}


.pricing {
  background-color: grey;
  background-image: url('/images/pricing.png');
  background-size: cover;
  background-position: center;
  min-height: 35vh;
  min-width: 25vw;
}

.contact {
  background-color: grey;
  background-image: url('/images/contact.png');
  background-size: cover;
  background-position: center;
  min-height: 35vh;
  min-width: 25vw;
}

.rightpull {
  text-align:right;
}

.container {
  padding-top: 25%;
  padding-right: 35%;
}
span {
  text-align: right;
}

/* Buttons */
 button,
.button {
  border: 1px solid black;
  padding: 0.5em 3em;
  margin: 1em auto;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
.button-inverted {
    border: 2px solid rgba(255,255,255,0.8);
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 5em auto;
}


.buttonpadding {
padding-top: 3vh;
}
.button:hover
{
  background-color: rgba(240,229,217,0.3);
  transition: 0.5s;
  color: black;

}

.button-inverted:hover {
  background-color: rgba(240,229,217,0.3);
  transition: 0.5s;
  color: white;
}



/* Lists */

ol, ul  { padding-left: 0; margin-top: 0; display:inline-block; text-align: left;}
li      { margin-bottom: 0.5rem; }


/* ----- FORMS --------------------------- */

input,
textarea {
  border-style: solid;
  border: 1px solid grey;
  padding: 0.8em;
font-family: 'Pontano Sans', sans-serif;
  font-size: 1em;
  display: block;
  width: 100%;
  margin: 1em auto;
  vertical-align: top;
}
textarea {
  min-height: 7em;
}
input[type="submit"] {
  width: auto;
  display: block;
  background-color: white; /* featured color */
}

form [class*=col-] {
  padding: 1%;
}

/* ------------ BACKGROUND IMAGES --------------- */

.featured-img {
  background-image: url('/images/photo8.jpg');
  background-size: cover;
  background-position: 50% 20%;
  padding: 40vh 25vw;
  max-width: 100%;
  height: auto;

}
#landing {
  background-image: url("../images/photo11.jpg");
  background-size:cover;
  max-width: 100%;
  background-position: 50%;
}


/*------- Media Queries ------------------------*/
@media(max-width:700px) {

  /* --- General Responsive Helpers ----*/

  .mob-hide {
      display: none!important;
  }
  .mob-show {
    display: block;
  }

  .mob-flip {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
  }
  .mob-flip div {
      width: 100%; /* This fixes a flexbox bug */
  }
  .gallery, .pricing {
    min-width: 42vw;}
  /* ------ General Mobile Styles ---------*/
  /*alignment center*/
  body,
  .left,
  .right {
    text-align: center;
  }
  .col,
  [class*=col-] {
    padding: 1rem;
  }
  textarea {
    margin: 0;
  }



}/* End media query */
