<img class="logo" src="/images/logocolor.png" alt="Erin Wright Photography">

<nav class="mob-nav">
  <a href="/main"> Home </a>
  <a href="/clients"> Clients </a>
  <a href="/pricing"> Pricing </a>
  <a href="/gallery"> Gallery </a>
  <a href="/contact"> Contact </a>
</nav>

<hr>

<nav class="centered social-nav">
  <a target="blank" href="https://www.facebook.com/erinwrightphotographywallawalla/"><i class="fa fa-facebook"></i></a><a target="blank" href="erinwrightphotography@gmail.com"><i class="fa fa-laptop"></i></a><a target="blank" href="https://www.instagram.com/erinwright84/"><i class="fa fa-instagram"></i></a>
</nav>
