<footer>
  <div>
    <nav class="centered">
      <a target="blank" href="https://www.facebook.com/erinwrightphotographywallawalla/"><i class="fa fa-facebook"></i></a><a target="blank" href="#"><i class="fa fa-laptop"></i></a><a target="blank" href="https://www.instagram.com/erinwright84/"><i class="fa fa-instagram"></i></a>
    </nav>
    </div>
  <div>
    <p class="copyright">
      <i class="fa fa-copyright"></i>Erin Wright Photography // Site By Laura Treganowan
    </p>
  </div>
</footer>
